<h1 class='f-subheadline ttu tc tracked-mega washed-yellow'><%= @summoner.name %></h1>
<hr class="bb bx-washed-yellow">

<div class='pt3 tc flex w-30 center'>
  <div class='flex-auto pt1 ph2 tr'>
    <%= @wins + @losses %> matches<br>
    <%= @wins %> <span class='blue'><%= fa_icon 'thumbs-up' %></span>
    <%= @losses %> <span class='light-red'><%= fa_icon 'thumbs-down' %></span><br>
  </div>
  <div class='flex-auto ph2 tl'>
    <span class='f2 b tracked'><%= ((@wins/((@wins + @losses).to_f)) * 100).round %><%= fa_icon 'percent' %></span>
  </div>
</div>

<ul class='list ph6'>
  <%= render @matches %>
</ul>
<div class='pa3 tc'>
  <%= will_paginate @matches %>
</div>
